@page "/play/{GameId:int}"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@inject GameRenderHandler _renderHandler
@inject ServerApiCaller _apiCaller
@inject AuthenticationStateProvider _authStateProvider
@inject HubStateProvider _hub

<label>@TextArea</label>
<input id="zoom-input-range" type="range" step="2" max="200" min="20" @bind:event="oninput" @bind="_renderHandler.ZoomGrade" />
<div id="play-container">
    <div id="board-render-canvas">
        <BECanvas @ref="_canvas" Height="@_renderHandler.height" Width="@_renderHandler.width"/>
    </div>

    <div id="chat-container">
        <div id="tab-container">@{
                foreach (var tab in Tabs) {
                    <button @onclick="() => {
                        CurrentTab = tab;
                        
                    }" class="btn-light"> 
                        @tab.Name
                    </button>
                }  
        }</div>

    <div id="chat-history-container">
        <DynamicComponent Type="@CurrentTab" Parameters="@CurrentTabParams" @ref="CurrentTabComponent"/>
    </div>

    <div class="card-footer text-muted d-flex justify-content-start align-items-center align-bottom p-3" style="z-index:1;">
        <div class="input-group mb-0">
            <input @bind="TextArea" type="text" class="form-control" placeholder="Type message"
                    aria-label="Recipient's username" aria-describedby="button-addon2" />
            <button @onclick="() => SendMessageAsync(TextArea)" class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
                Send
            </button>
        </div>
    </div>
</div>
</div>
<img @ref="@ImageBuffer" src="@ImageBufferUrl" hidden/>


@code {

    [Parameter]
    public int GameId { get; set; }

    public Chat Chat { get; set; } = new();

    public string TextArea { get; set; }

    public EventCallback<bool> ComponentStateChanged { get; set; }

    public DynamicComponent CurrentTabComponent { get; set; } = new();

    public ElementReference ImageBuffer { get; set; }

    public string ImageBufferUrl { get; set; }

    public Type CurrentTab { get; set; } = typeof(MediaList);

    public Dictionary<string, object> CurrentTabParams { get; set; } = new Dictionary<string, object>();

    public BECanvasComponent _canvas { get; set; }

    public Canvas2DContext _canvasContext { get; set; }

    private HubConnection _hubConnection { get; set; }

    public readonly List<Type> Tabs = new(); 

    public GameModel.Game Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ConnectToHubAsync();

        Tabs.Add((typeof(MediaList)));

        Tabs.Add((typeof(ChatHistoryField)));



    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!await SynchronizeGameModelAsync())
            throw new FileLoadException("Failed to load a game");
        if (firstRender)
        {


            _canvasContext = await _canvas.CreateCanvas2DAsync();

            await _renderHandler.InitializeAsync(Game, _canvasContext, ImageBuffer);



            return;
        }

        await _renderHandler.RenderBoardAsync();


    }

    public async Task<bool> SynchronizeGameModelAsync()
    {
        try
        {
            if(GameId == 0)
            {
                Game = new();
                return true;
            }
            var response = await _apiCaller.SynchronizeGameStateAsync(GameId);
            var json = await response.Content.ReadAsStringAsync();
            if (string.IsNullOrEmpty(json))
                return false;
            if (Newtonsoft.Json.JsonConvert.DeserializeObject<Game>(json) == null)
                return false;
            Game = Newtonsoft.Json.JsonConvert.DeserializeObject<Game>(json)!;
        }
        catch
        {
            return false;
        }
        return true;
    }

    public async Task ConnectToHubAsync()
    {


        var or = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "/js/cookies.js");
        var token = await or.InvokeAsync<string>("getCookie", "gboard_signin_token");

        if (!_hub.IsConnected)
            await _hub.ConnectAsync();

        await _hub.Connection.SendAsync("JoinGameAsync", GameId, token);


    }

    public async Task SendMessageAsync(string message)
    {
        var or = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "/js/cookies.js");
        var token = await or.InvokeAsync<string>("getCookie", "gboard_signin_token");
        await _hub.Connection.SendAsync("RecieveMessageAsync", GameId, token, new TextMessage()
        {
            Text = message
        });
        TextArea = string.Empty;
        StateHasChanged();
    }
}
